<div class="about-home-modal home-modal">
    <div class="home-modal__content">

        <button class="feedback-modal__close" onclick="closeAboutHomeModal()">
            <svg width="20" height="20" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" clip-rule="evenodd"
                    d="M8.99994 10.8856L1.94275 17.9428L0.0571289 16.0572L7.11432 9L0.0571289 1.94281L1.94275 0.0571899L8.99994 7.11438L16.0571 0.0571899L17.9427 1.94281L10.8856 9L17.9427 16.0572L16.0571 17.9428L8.99994 10.8856Z"
                    fill="#A9B0BC" />
            </svg>
        </button>

        <div class="home-modal__img-container">
            <img src="../img/about-home-modal/main-img.webp" alt="home-img" class="home-modal__img home-modal__img-main">
            <img src="../img/about-home-modal/img-2.webp" alt="home-img" class="home-modal__img">
            <img src="../img/about-home-modal/img-3.webp" alt="home-img" class="home-modal__img">
            <img src="../img/about-home-modal/img-4.webp" alt="home-img" class="home-modal__img">
            <img src="../img/about-home-modal/img-5.webp" alt="home-img" class="home-modal__img">
            <img src="../img/about-home-modal/img-6.webp" alt="home-img" class="home-modal__img">
            <img src="../img/about-home-modal/img-7.webp" alt="home-img" class="home-modal__img">
        </div>

        <div class="home-modal__info">
            <div class="home-modal__title-blog">
                <h2 class="home-modal__name">Загородный дом в п. Эстачи</h2>
                <p class="home-modal__text">В чистовой отделке вместе с землёй</p>
            </div>
            <div class="home-modal__description">
                <div class="home-info__square home-info">
                    <img src="../img/icons/square.svg" alt="icon" class="home-info__icon">
                    <span class="home-info__text">240 кв.м</span>
                </div>
                <div class="home-info__rooms home-info">
                    <img src="../img/icons/room.svg" alt="icon" class="home-info__icon">
                    <span class="home-info__text">4 комнаты</span>
                </div>
                <div class="home-info__floors home-info">
                    <img src="../img/icons/floor.svg" alt="icon" class="home-info__icon">
                    <span class="home-info__text">2 этажа</span>
                </div>
                <div class="home-info__bathrooms home-info">
                    <img src="../img/icons/bathroom.svg" alt="icon" class="home-info__icon">
                    <span class="home-info__text">2 санузла</span>
                </div>
            </div>
        </div>
    </div>
</div>