<section class="create-home primary-section" id="create-home">
    <div class="img-wrapper">
        <picture>
            <source media="(max-width: 768px)" srcset="../img/create-home/background-scheme-mobile.svg">
            <img src="../img/create-home/background-scheme.svg" alt="background-scheme"
                class="section__background-scheme create-home__background-scheme" loading="lazy">
        </picture>
        <div class="primary-section__container-bordered">
            <img src="../img/create-home/bg-lines.svg" alt="bg-lines" class="bg-lines" loading="lazy">
        </div>
    </div>
    <div class="container primary-section__container">
        <div class="section__content create-home__content wow animate__animated animate__fadeInUp"
            data-wow-offset="150">
            <div class="title-blog">
                <h2 class="section__title section__title-black">Построим дом по вашим предпочтениям</h2>
            </div>
            <p class="create-home__text">Каким будет ваш дом?</p>
        </div>

        <div class="create-home__calculator-wrapper wow animate__animated animate__fadeInUp" data-wow-offset="150">

            <div class=" create-home__calculator calculator">

                <div class="calculator-floors calculator__item calculator-item">
                    <div class="calculator-item__title-blog">
                        <p class="calculator-item__num">01</p>
                        <p class="calculator-item__name">Количество этажей</p>
                    </div>

                    <div class="calculator-floors__container calculator-item__container">
                        <div
                            class="calculator-floors__item calculator-floors__item-first calculator-floors__item-active">
                            1</div>
                        <div class="calculator-floors__item calculator-floors__item-second">2</div>
                        <div class="calculator-floors__item calculator-floors__item-third">3</div>
                    </div>
                </div>

                <div class="calculator-repair calculator__item calculator-item">
                    <div class="calculator-item__title-blog">
                        <p class="calculator-item__num">02</p>
                        <p class="calculator-item__name">Стадия ремонта</p>
                    </div>

                    <div class="calculator-repair__container calculator-item__container">
                        <div class="calculator-repair__item calculator-repair__item-active">
                            <p class="calculator-repair__text">Черновая</p>
                            <svg class="clue" id="first-tl"
                                data-tippy-content="Черновая. Минимальная отделка, предподготовка для дальнейшего ремонта. Черновая отделка — простор для творчества. Это подготовка поверхностей для дальнейшего ремонта, который покупатель делает по своему усмотрению."
                                width="25" height="25" viewBox="0 0 25 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.5 12.6667C1.5 18.7419 6.42487 23.6667 12.5 23.6667C18.5751 23.6667 23.5 18.7419 23.5 12.6667C23.5 6.59162 18.5751 1.66675 12.5 1.66675C6.42487 1.66675 1.5 6.59162 1.5 12.6667ZM21.5 12.6667C21.5 17.6373 17.4706 21.6667 12.5 21.6667C7.52944 21.6667 3.5 17.6373 3.5 12.6667C3.5 7.69619 7.52944 3.66675 12.5 3.66675C17.4706 3.66675 21.5 7.69619 21.5 12.6667ZM12.5003 17.6651C13.0528 17.6651 13.5007 17.2174 13.5007 16.6651C13.5007 16.1128 13.0528 15.6651 12.5003 15.6651C11.9479 15.6651 11.5 16.1128 11.5 16.6651C11.5 17.2174 11.9479 17.6651 12.5003 17.6651ZM11.5 14.6667H13.5C13.5 13.8684 13.6254 13.7221 14.4472 13.3112C15.8754 12.5971 16.5 11.8684 16.5 10.1667C16.5 7.98738 14.7843 6.66675 12.5 6.66675C10.2909 6.66675 8.5 8.45761 8.5 10.6667H10.5C10.5 9.56218 11.3954 8.66675 12.5 8.66675C13.7772 8.66675 14.5 9.22316 14.5 10.1667C14.5 10.9651 14.3746 11.1114 13.5528 11.5223C12.1246 12.2364 11.5 12.9651 11.5 14.6667Z"
                                    fill="#A9B0BC" />
                            </svg>

                        </div>
                        <div class="calculator-repair__item">
                            <p class="calculator-repair__text">Предчистовая</p>
                            <svg class="clue" id="second-tl"
                                data-tippy-content="Предчистовая. Промежуточный этап ремонта. Самые шумные и грязные работы сделаны, можно сконцентрироваться на дизайне и наполнении."
                                width="25" height="25" viewBox="0 0 25 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.5 12.6667C1.5 18.7419 6.42487 23.6667 12.5 23.6667C18.5751 23.6667 23.5 18.7419 23.5 12.6667C23.5 6.59162 18.5751 1.66675 12.5 1.66675C6.42487 1.66675 1.5 6.59162 1.5 12.6667ZM21.5 12.6667C21.5 17.6373 17.4706 21.6667 12.5 21.6667C7.52944 21.6667 3.5 17.6373 3.5 12.6667C3.5 7.69619 7.52944 3.66675 12.5 3.66675C17.4706 3.66675 21.5 7.69619 21.5 12.6667ZM12.5003 17.6651C13.0528 17.6651 13.5007 17.2174 13.5007 16.6651C13.5007 16.1128 13.0528 15.6651 12.5003 15.6651C11.9479 15.6651 11.5 16.1128 11.5 16.6651C11.5 17.2174 11.9479 17.6651 12.5003 17.6651ZM11.5 14.6667H13.5C13.5 13.8684 13.6254 13.7221 14.4472 13.3112C15.8754 12.5971 16.5 11.8684 16.5 10.1667C16.5 7.98738 14.7843 6.66675 12.5 6.66675C10.2909 6.66675 8.5 8.45761 8.5 10.6667H10.5C10.5 9.56218 11.3954 8.66675 12.5 8.66675C13.7772 8.66675 14.5 9.22316 14.5 10.1667C14.5 10.9651 14.3746 11.1114 13.5528 11.5223C12.1246 12.2364 11.5 12.9651 11.5 14.6667Z"
                                    fill="#A9B0BC" />
                            </svg>

                        </div>
                        <div class="calculator-repair__item">
                            <p class="calculator-repair__text">Чистовая</p>
                            <svg class="clue" id="third-tl"
                                data-tippy-content="Чистовая. Формат «заезжай и живи». Квартира полностью готова, включая установленную сантехнику, покрытие пола и обои. Можно постепенно переделывать их под себя, если по каким-то причинам не устраивает отделка от застройщика."
                                width="25" height="25" viewBox="0 0 25 25" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M1.5 12.6667C1.5 18.7419 6.42487 23.6667 12.5 23.6667C18.5751 23.6667 23.5 18.7419 23.5 12.6667C23.5 6.59162 18.5751 1.66675 12.5 1.66675C6.42487 1.66675 1.5 6.59162 1.5 12.6667ZM21.5 12.6667C21.5 17.6373 17.4706 21.6667 12.5 21.6667C7.52944 21.6667 3.5 17.6373 3.5 12.6667C3.5 7.69619 7.52944 3.66675 12.5 3.66675C17.4706 3.66675 21.5 7.69619 21.5 12.6667ZM12.5003 17.6651C13.0528 17.6651 13.5007 17.2174 13.5007 16.6651C13.5007 16.1128 13.0528 15.6651 12.5003 15.6651C11.9479 15.6651 11.5 16.1128 11.5 16.6651C11.5 17.2174 11.9479 17.6651 12.5003 17.6651ZM11.5 14.6667H13.5C13.5 13.8684 13.6254 13.7221 14.4472 13.3112C15.8754 12.5971 16.5 11.8684 16.5 10.1667C16.5 7.98738 14.7843 6.66675 12.5 6.66675C10.2909 6.66675 8.5 8.45761 8.5 10.6667H10.5C10.5 9.56218 11.3954 8.66675 12.5 8.66675C13.7772 8.66675 14.5 9.22316 14.5 10.1667C14.5 10.9651 14.3746 11.1114 13.5528 11.5223C12.1246 12.2364 11.5 12.9651 11.5 14.6667Z"
                                    fill="#A9B0BC" />
                            </svg>

                        </div>
                    </div>
                </div>

                <div class="calculator-square calculator__item calculator-item">
                    <div class="calculator-item__title-blog">
                        <p class="calculator-item__num">03</p>
                        <p class="calculator-item__name">Площадь дома</p>
                    </div>

                    <div class="calculator-square__container calculator-item__container">
                        <div class="calculator-square__slider">
                            <input type="range" min="80" max="400" step="1" class="slider-swiper"
                                oninput="showValue(this.value)" tabindex="0">
                            <div class="slider-thumb"></div>
                            <div class="slider-range">
                                <p class="slider-range__min">80</p>
                                <p class="slider-range__max">400</p>
                            </div>
                        </div>
                        <div class="calculator-square__output">
                            <p class="calculator-square__output-num" id="square-output">240</p>
                            <p class="calculator-square__output-text">кв.м</p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="calculator__final-price final-price">
                <span class="final-price__text final-price__item">Предварительный расчёт</span>
                <span class="final-price__price final-price__item">6 499 920 р</span>
                <button class="final-price__btn primary-btn final-price__item" onclick="showFeedbackModal()">Свяжитесь
                    со
                    мной</button>
            </div>

            <p class="calculator__note">Более точный расчёт вы сможете сделать с помошью менеджера</p>
        </div>
    </div>
</section>