<footer class="footer">
    <div class="footer__line"></div>
    <div class="footer__container container">
        <div class="footer__content">
            <div class="footer__info">
                <div class="footer__phone footer-info">
                    <p class="footer-info__name">Телефон</p>
                    <p class="footer-info__text">+ 7 (843) 248 07 07</p>
                </div>
                <div class="footer__email footer-info">
                    <p class="footer-info__name">E-mail</p>
                    <p class="footer-info__text">eldacha@yandex.ru</p>
                </div>
                <div class="footer__address footer-info">
                    <p class="footer-info__name">Адрес</p>
                    <p class="footer-info__text">Казань, Рауиса Гареева, 90 к1</p>
                </div>
            </div>

            <div class="footer__links">
                <div class="page-links">
                    <a href="#our-works" class="page-links__item">Наши работы</a>
                    <a href="#ready-homes" class="page-links__item">Готовые дома</a>
                    <a href="#create-home" class="page-links__item">Калькулятор</a>
                    <a href="#select-area" class="page-links__item">Подобрать учаток</a>
                </div>

                <div class="social-media-links">
                    <a href="#" class="social-media-links__item">
                        <img src="../img/footer/vk.svg" alt="Vkontakte">
                    </a>
                    <a href="#" class="social-media-links__item">
                        <img src="../img/footer/telegram.svg" alt="Telegram">
                    </a>
                </div>
            </div>
        </div>

        <div class="mini-calc">
            <div class="mini-calc__item mini-calc__item-text">
                <img src="../img/footer/home.svg" alt="home-icon" class="mini-calc__icon">
                <span class="mini-calc__text">Площадь - 240 кв.м, комнаты - 4, этажи - 2</span>
            </div>

            <div class="mini-calc__item mini-calc__item-price">
                <span class="mini-calc__price">6 500 000 р</span>
                <button class="mini-calc__feedback-btn primary-btn" onclick="showFeedbackModal()">Свяжитесь со мной</button>
            </div>
        </div>
    </div>
</footer>