<section class="select-area primary-section" id="select-area">
    <div class="primary-section__container-bordered">
        <img src="../img/select-area/bg-lines.svg" alt="bg-lines" class="bg-lines" loading="lazy">
    </div>
    <div class="img-wrapper">
        <img src="../img/select-area/top-line.svg" alt="top-line" class="select-area__top-line" loading="lazy">
    </div>
    <div class="container select-area__container">
        <div class="select-area__content">
            <img src="../img/select-area/area-text.svg" alt="area-text" loading="lazy">
            <div class="title-blog">
                <h2 class="section__title section__title-center">Подберите участок для вашего дома</h2>
                <p class="section__text section__text-center">Предлагаем участки под строительство в разных посёлках</p>
            </div>
            <button class="primary-btn select-area__feedback-btn" onclick="showFeedbackModal()">Записаться на экскурсию</button>
        </div>
    </div>
    <div class="change-area">
        <p class="change-area__name">Эстачи</p>
    </div>
    <div class="img-wrapper">
        <img src="../img/create-home/area-scheme.svg" alt="area-scheme" class="area-scheme" loading="lazy">
    </div>
</section>