<section class="our-works primary-section works" id="our-works">
    <div class="img-wrapper">
        <picture>
            <source media="(max-width: 768px)" srcset="../img/our-works/background-scheme-mobile.svg">
            <img src="../img/our-works/background-scheme.svg" alt="background-scheme"
                class="section__background-scheme works__background-scheme" loading="lazy">
        </picture>
        <div class="primary-section__container-bordered">
            <img src="../img/icons/bg-lines.svg" alt="bg-lines" class="bg-lines" loading="lazy">
        </div>
    </div>

    <div class="container primary-section__container our-works__container">
        <div class="section__content wow animate__animated animate__fadeInUp" data-wow-offset="150">
            <div class="title-blog">
                <h2 class="section__title">Построили более 30 домов за 10 лет</h2>
                <p class="section__text">Дома, которые мы уже построили</p>
            </div>
            <a href="../about.html" class="section__show-btn">Посмотреть все</a>
        </div>

        <div class="works__container homes-container">
            <div class="works__item homes-item home wow animate__animated animate__fadeInUp" data-wow-offset="150">
                <img src="../img/works/home-1.jpg" alt="home-picture" class="home__img" loading="lazy">
                <div class="home__info info">
                    <div class="home__sqaure info__item">
                        <img src="../img/icons/square.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">240 кв.м</span>
                    </div>
                    <div class="home__rooms info__item">
                        <img src="../img/icons/room.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">4 комнаты</span>
                    </div>
                    <div class="home__floors info__item">
                        <img src="../img/icons/floor.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 этажа</span>
                    </div>
                    <div class="home__bathrooms info__item">
                        <img src="../img/icons/bathroom.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 санузла</span>
                    </div>
                </div>
            </div>
            <div class="works__item homes-item home wow animate__animated animate__fadeInUp" data-wow-delay=".2s" data-wow-offset="150">
                <img src="../img/works/home-2.jpg" alt="home-picture" class="home__img" loading="lazy">
                <div class="home__info info">
                    <div class="home__sqaure info__item">
                        <img src="../img/icons/square.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">240 кв.м</span>
                    </div>
                    <div class="home__rooms info__item">
                        <img src="../img/icons/room.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">4 комнаты</span>
                    </div>
                    <div class="home__floors info__item">
                        <img src="../img/icons/floor.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 этажа</span>
                    </div>
                    <div class="home__bathrooms info__item">
                        <img src="../img/icons/bathroom.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 санузла</span>
                    </div>
                </div>
            </div>
            <div class="works__item homes-item home wow animate__animated animate__fadeInUp" data-wow-delay=".3s" data-wow-offset="150">
                <img src="../img/works/home-3.jpg" alt="home-picture" class="home__img" loading="lazy">
                <div class="home__info info">
                    <div class="home__sqaure info__item">
                        <img src="../img/icons/square.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">240 кв.м</span>
                    </div>
                    <div class="home__rooms info__item">
                        <img src="../img/icons/room.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">4 комнаты</span>
                    </div>
                    <div class="home__floors info__item">
                        <img src="../img/icons/floor.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 этажа</span>
                    </div>
                    <div class="home__bathrooms info__item">
                        <img src="../img/icons/bathroom.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 санузла</span>
                    </div>
                </div>
            </div>
            <div class="works__item homes-item home wow animate__animated animate__fadeInUp" data-wow-delay=".4s" data-wow-offset="50">
                <img src="../img/works/home-4.jpg" alt="home-picture" class="home__img" loading="lazy">
                <div class="home__info info">
                    <div class="home__sqaure info__item">
                        <img src="../img/icons/square.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">240 кв.м</span>
                    </div>
                    <div class="home__rooms info__item">
                        <img src="../img/icons/room.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">4 комнаты</span>
                    </div>
                    <div class="home__floors info__item">
                        <img src="../img/icons/floor.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 этажа</span>
                    </div>
                    <div class="home__bathrooms info__item">
                        <img src="../img/icons/bathroom.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 санузла</span>
                    </div>
                </div>
            </div>
            <div class="works__item homes-item home wow animate__animated animate__fadeInUp" data-wow-delay=".5s" data-wow-offset="50">
                <img src="../img/works/home-5.jpg" alt="home-picture" class="home__img" loading="lazy">
                <div class="home__info info">
                    <div class="home__sqaure info__item">
                        <img src="../img/icons/square.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">240 кв.м</span>
                    </div>
                    <div class="home__rooms info__item">
                        <img src="../img/icons/room.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">4 комнаты</span>
                    </div>
                    <div class="home__floors info__item">
                        <img src="../img/icons/floor.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 этажа</span>
                    </div>
                    <div class="home__bathrooms info__item">
                        <img src="../img/icons/bathroom.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 санузла</span>
                    </div>
                </div>
            </div>
            <div class="works__item homes-item home wow animate__animated animate__fadeInUp" data-wow-delay=".6s" data-wow-offset="50">
                <img src="../img/works/home-6.jpg" alt="home-picture" class="home__img" loading="lazy">
                <div class="home__info info">
                    <div class="home__sqaure info__item">
                        <img src="../img/icons/square.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">240 кв.м</span>
                    </div>
                    <div class="home__rooms info__item">
                        <img src="../img/icons/room.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">4 комнаты</span>
                    </div>
                    <div class="home__floors info__item">
                        <img src="../img/icons/floor.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 этажа</span>
                    </div>
                    <div class="home__bathrooms info__item">
                        <img src="../img/icons/bathroom.svg" alt="home-img" class="home__info-icon">
                        <span class="home__info-text">2 санузла</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="img-wrapper">
        <img src="../img/works/bottom-line.svg" alt="home-img" class="works-bottom-line" loading="lazy">
    </div>
</section>